.hero__section {
  overflow: hidden; /* Change to visible or remove it if not necessary */
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.hero__container {
  position: relative;
}

.hero__content {
  position: absolute;
  top: 20%;
  left: 4rem;
}

.hero__title {
  font-size: var(--font-size-big);
  font-family: var(--ff-primary);
  font-style: italic;
  margin-bottom: var(--mb-0-25);
  color: var(--secondary-clr1);
  font-weight: var(--font-normal);
}

.hero__data svg,
.hero__title svg {
  width: 28px;
  height: 28px;
  margin-left: 0.4rem;
}

.hero__subtitle {
  position: relative;
  color: var(--secondary-clr1);
  font-size: var(--font-size-h3);
  padding-left: 5.4rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.hero__subtitle::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 70px;
  background-color: var(--secondary-clr2);
  left: 0;
  top: 1rem;
}

.hero__description {
  color: var(--secondary-clr2);
  max-width: 500px;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
}

@media screen and (max-width: 1118px) {
  .hero__content {
    top: 10%;
  }

  .hero__description {
    max-width: 400px;
  }
}

@media screen and (max-width: 870px) {
  .hero__content {
    position: initial;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 3rem;
  }
  .hero__description {
    width: fit-content;
  }
}
