.hero__section {
  overflow: hidden; /* Change to visible or remove it if not necessary */
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding-top: calc(var(--header-height) + 1.5rem);
}

.hero__container {
  position: relative;
}

.hero__content {
  position: absolute;
  top: 20%;
  left: 4rem;
}

.hero__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
  color: var(--title-color);
}
.hero__data svg,
.hero__title svg {
  width: 28px;
  height: 28px;
  margin-left: 0.4rem;
}

.hero__subtitle {
  position: relative;
  color: var(--title-color);
  font-size: var(--h3-font-size);
  padding-left: 5.4rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.hero__subtitle::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 70px;
  background-color: var(--title-color);
  left: 0;
  top: 1rem;
}

.hero__description {
  color: var(--title-color);
  max-width: 500px;
  margin-bottom: var(--mb-3);
}

@media screen and (max-width: 992px) {
  .hero__description {
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .hero__content {
    position: initial;
    max-width: 500px;
    margin: 0 auto;
  }
  .hero__description {
    max-width: fit-content;
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
