.work {
  &__cards {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(var(--cards-count), var(--card-height));
    gap: 40px 0;
  }

  &__space {
    height: 90vh;

    &--small {
      height: 10vh;
    }
  }
}

.work-card {
  position: sticky;
  top: calc(var(--navbar-height, 80px) + 20px);
  &__inner {
    will-change: transform;
    background: #fff;
    border-radius: 14px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(20, 20, 40, 0.35);
    transform-origin: center top;
  }

  &__image-container {
    width: 40%;
    flex-shrink: 0;
    display: flex;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }

  &__content {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    color: var(--white-color);
  }

  &__description {
    font-size: 24px;
    line-height: 1.4;
    color: var(--white-color);
  }
}
.work-card {
  &#work-card-0 {
    --card-bg: var(--base-1);
  }

  &#work-card-1 {
    --card-bg: var(--base-2);
  }

  &#work-card-2 {
    --card-bg: var(--base-3);
  }

  &#work-card-3 {
    --card-bg: var(--base-4);
  }

  &__inner {
    background-color: var(--card-bg, #fff);
  }
}
@media (max-width: 600px) {
  .work-card {
    &__inner {
      flex-direction: column;
    }

    &__image-container {
      width: 100%;
    }

    &__image {
      aspect-ratio: 16 / 9;
    }

    &__title {
      font-size: 32px;
    }

    &__description {
      font-size: 16px;
    }

    &__content {
      padding: 30px 20px;
    }
  }
}
