.blogs__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.blogs__content {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 3rem -0.8rem var(--secondary-clr1);
  background-size: cover;
  transition: box-shadow 0.1s ease-in-out;
}

.blogs__content:hover {
  box-shadow: 0rem 0rem 3rem 0rem var(--secondary-clr1);
}

.blogs__head {
  display: flex;
  justify-content: space-between;
}
.blogs__content a {
  text-decoration: underline;
}
.blogs__content:nth-child(1) {
  grid-column: span 2;
}

.blogs__content:nth-child(2) {
  grid-row: span 2;
}

.blogs__content:nth-child(2) .blogs__head {
  display: block;
  margin-bottom: 1rem;
}

.blogs__title {
  font-size: var(--h3-font-size);
}

.blogs__description {
  font-size: var(--small-font-size);
  margin: 1rem 0;
}

@media screen and (max-width: 770px) {
  .blogs__container {
    grid-template-columns: initial;
  }
}

@media screen and (max-width: 550px) {
  .blogs__container {
    grid-template-columns: 1fr;
  }

  .blogs__content {
    grid-row: auto;
  }
  .blogs__content:nth-child(1),
  .blogs__content:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
  }
  .blogs__head {
    display: block;
  }
}
