:root {
  --ff-primary: "Gill Sans", sans-serif;
  --ff-secondary: serif;

  --header-height: 3rem;
  --primary-clr: #0088ff; /* Cyan */
  --secondary-clr1: #ffffff; /* White */
  --secondary-clr2: #cec6c6; /* Light Gray */
  --secondary-clr3: #006b8b; /* Dark Cyan */
  --body-color: #000; /* Dark background */
  --container-color: #0b0e0e; /* Black */

  --font-size-big: 4.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;

  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

@media screen and (max-width: 980px) {
  :root {
    --font-size-big: 3.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;

    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea,
select {
  font-family: var(--ff-primary);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  color: var(--secondary-clr1);
}

h1,
h2,
h3 {
  color: var(--secondary-clr1);
  font-weight: var(--font-bold);
}

ul,
li {
  list-style: none;
  color: var(--secondary-clr1);
}

a {
  color: var(--secondary-clr1);
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 1rem;
  background-color: var(--body-color);
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--secondary-clr2);
  margin-bottom: 1rem;
}

.section__header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.section__line {
  height: 5px;
  transform: skew(-50deg);
  background: var(--secondary-clr3);
  border: none;
}

.section__title,
.section__subtitle {
  text-align: start;
}

.container {
  --max-width: 1200px;
  --padding: 1rem;

  max-width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  gap: 1rem;
}

.button {
  position: relative;
  padding: 0.7rem 1.7rem;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
  color: var(--secondary-clr1);
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: var(--secondary-clr3);
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}

.button span {
  position: relative;
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  letter-spacing: 0.5rem;
  color: var(--secondary-clr1);
}

.button svg {
  position: relative;

  margin-left: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.button:hover::before {
  width: 100%;
  background: var(--secondary-clr3);
}
.button:hover svg {
  transform: translateX(0);
}

.button:active {
  transform: scale(0.95);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
