@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Manrope:wght@200..800&display=swap");

:root {
  /* ===== FONTS ===== */
  --font-base: "Manrope", sans-serif;

  /* ===== TYPOGRAPHY ===== */
  --font-size-base: 1rem; 
  --font-size-md: 1.125rem; 
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem; 
  --font-size-2xl: 2rem; 
  --font-size-3xl: 2.5rem; 
  --font-size-4xl: 3rem; 

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* ===== BACKGROUNDS ===== */
  --bg-main: #000000;
  --bg-surface: #a7a7a7;

  /* ===== TEXT ===== */
  --text-primary: #ffffff;
  --text-muted: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  color: var(--text-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
